

.Home
{
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.title {
    margin-top: 100px;
    font-size: 50px;
    color: #282c34;
}

.textContact {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 30px;
    color: #282c34;
}


.contactButtonSend {
    border: 1px solid white;
    background-color: #282c34;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 8%;
    height: 40px;
}

.contactButtonSend:hover {
    background-color: white;
    color: #282c34;
    border: 1px solid #282c34;
}

.inputGetInTouch {
    width: 50.4%;
    margin-top: 50px;
    height: 100px;
    font-size: 15px;
}

.contactInputInfo {
    height: 40px;
    width: 20%;
    border: 1px solid #282c34;
    margin-right: 1%;
    font-size: 15px;
}
