
.signupAttributeContainer
{
    display: inline-block;
    text-align: left;
    margin-inline: 1%;
}

.signupAttributeContainerDiv {
    
}

.signupAttributeP {
    font-size: 20px;
    margin-bottom: 10px;
}

.signupAttributeInput {
    height: 35px;
    border: 1px solid #282c34;
    margin-right: 1%;
    font-size: 15px;
    margin-bottom: 10px;
}


.signButtonSend {
    border: 1px solid white;
    background-color: #282c34;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 8%;
    height: 40px;
}

.signButtonSend:hover {
    background-color: white;
    color:#282c34;
    border: 1px solid #282c34;
}

