.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.mybody
{
  background-color: #282c34;

  padding-left: 10vh;
  padding-right: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.imageTest {
  height: 500px;
  width: 250px;
}


.myP {
  color: white;
  padding-top: 50px;
}

.box {
  width: 600px;
}

h1 {
  font-size: 40px;
  margin: 0 0 1rem 0;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10vh;
  padding-right: 10vh;
}

.App-link {
  color: #61dafb;
}

.ButtonTest {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.ButtonTest:hover {
  background-color: black;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
