.App {
  text-align: center;
  background-color: #282c34;
  flex: 1
}

.mybody
{
  text-align: center;
  align-items: center;
  display: inline-block;
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.imageTest {
  height: 500px;
  width: 250px;
}


.myP {
  color:red;
  padding-top: 50px;
}

.box {
  width: 600px;
}

h1 {
  font-size: 40px;
  color: #282c34;
}

.test {
  color: #282c34;
  background-color: #282c34 ;
}

.titleInput {
  color: #282c34;
  font-size: 15px;
}

.titleSection {
  color: #282c34;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding-left: 10vh;
  padding-right: 10vh;
}

.App-link {
  color: #61dafb;
}

.myInput {
  border: 2px solid #282c34;
  background-color: white;
  color: #282c34;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.ButtonTest {
  border: 2px solid #282c34;
  background-color: white;
  color: #282c34;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.ButtonTest:hover {
  background-color: #282c34;
  color: white;
}

.mainBox {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  height: 100vh;
}

.containerInput {
  margin-bottom: 50px;
}

.handleLine {
  display: inline;
  padding-bottom: 100px;
  width: 100%;
  flex: 1
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
